In [2]:
import pandas as pd
import numpy as np

In [3]:
athlete_bio = pd.read_csv('Olympic_Athlete_Bio.csv')
event_results = pd.read_csv('Olympic_Athlete_Event_Results.csv')
medal_tally = pd.read_csv('Olympic_Games_Medal_Tally.csv')
results = pd.read_csv('Olympic_Results.csv')
country = pd.read_csv('Olympics_Country.csv')
games = pd.read_csv('Olympics_Games.csv')

# Number of Males and Females in US Team By Year

In [4]:
event_results.columns

Index(['edition', 'edition_id', 'country_noc', 'sport', 'event', 'result_id',
       'athlete', 'athlete_id', 'pos', 'medal', 'isTeamSport'],
      dtype='object')

In [52]:
athlete_bio.columns

Index(['athlete_id', 'name', 'sex', 'born', 'height', 'weight', 'country',
       'country_noc', 'description', 'special_notes'],
      dtype='object')

In [53]:
athlete_bio['sex'].value_counts()

Male      114755
Female     40276
Name: sex, dtype: int64

In [5]:
athlete = athlete_bio.merge(event_results, on = 'athlete_id')

In [55]:
athlete.head()

,athlete_id,name,sex,born,height,weight,country,country_noc_x,description,special_notes,edition,edition_id,country_noc_y,sport,event,result_id,athlete,pos,medal,isTeamSport
0,16809,Károly Teppert,Male,1891-07-20,na,na,Hungary,HUN,Károly Teppert started competing in cycling in...,na,1912 Summer Olympics,6,HUN,Cycling Road,"Road Race, Individual, Men",153233,Károly Teppert,DNF,na,False
1,16809,Károly Teppert,Male,1891-07-20,na,na,Hungary,HUN,Károly Teppert started competing in cycling in...,na,1912 Summer Olympics,6,HUN,Cycling Road,"Road Race, Team, Men",153234,Károly Teppert,12,na,True
2,43737,Andrzej Socharski,Male,1947-08-31,173.0,72,Poland,POL,na,Listed in Olympians Who Won a Medal at the Wor...,1976 Summer Olympics,19,POL,Shooting,"Skeet, Open",51745,Andrzej Socharski,=14,na,False
3,50147,Nathalie Wunderlich,Female,1971-06-03,170.0,50,Switzerland,SUI,na,na,1992 Summer Olympics,23,SUI,Swimming,"100 metres Backstroke, Women",7860,Nathalie Wunderlich,=32,na,False
4,50147,Nathalie Wunderlich,Female,1971-06-03,170.0,50,Switzerland,SUI,na,na,1992 Summer Olympics,23,SUI,Swimming,"200 metres Backstroke, Women",7870,Nathalie Wunderlich,16,na,False

In [90]:
athlete1 = athlete.drop_duplicates(subset = 'athlete_id')
athlete1[athlete1['country_noc_x'] == 'USA'].groupby(by=['edition'])['sex'].value_counts()

edition               sex
1896 Summer Olympics  Male        20
1900 Summer Olympics  Male        78
                      Female       4
1904 Summer Olympics  Male      1222
                      Female       6
                                ...
2018 Winter Olympics  Female      55
2020 Summer Olympics  Female     233
                      Male       207
2022 Winter Olympics  Male        73
                      Female      51
Name: sex, Length: 103, dtype: int64

# Number of Athletes by:

In [65]:
# Country

In [58]:
athlete_bio['country_noc'].value_counts()

USA    11651
FRA     7349
GBR     6955
CAN     5556
ITA     5540
       ...
WIF        6
YMD        5
SSD        3
NBO        2
IFR        2
Name: country_noc, Length: 232, dtype: int64

In [ ]:
# Sport

In [6]:
athlete_sport = athlete.drop_duplicates(subset="athlete_id")
athlete_sport['sport'].value_counts()

Athletics          25025
Swimming            9606
Football            8486
Rowing              8115
Boxing              5835
                   ...
Racquets               5
Skijoring              5
Roque                  4
Canne De Combat        2
Aeronautics            1
Name: sport, Length: 108, dtype: int64

In [66]:
# Edition (unique by edition needs to be fixed)

In [64]:
edition = event_results.groupby(by='edition_id')
edition['edition_id'].value_counts()

edition_id  edition_id
1           1               619
2           2              3147
3           3              3075
4           4                23
5           5              4024
6           6              5424
7           7              4639
8           8              6432
9           9              5752
10          10             3294
11          11             7336
12          12             7125
13          13             9261
14          14             5306
15          15             8546
16          16             8202
17          17             9231
18          18            10903
19          19             8989
20          20             7499
21          21            10110
22          22            12780
23          23            13485
24          24            13994
25          25            14032
26          26            13756
29          29              633
30          30              642
31          31              790
32          32             1193
33          33             1134
34          34             1133
35          35             1344
36          36             1134
37          37             1903
38          38             1943
39          39             1683
40          40             1880
41          41             1768
42          42             2178
43          43             3166
44          44             3713
45          45             3225
46          46             3698
47          47             4127
48          48              300
49          49             4403
53          53            13975
54          54            13196
57          57             4467
58          58             4984
59          59            13941
60          60             5196
61          61            14786
62          62             5388
Name: edition_id, dtype: int64

In [19]:
# Medal

In [65]:
medal = event_results.replace(to_replace = 'na', value = np.nan)
medal = medal.dropna()
medal = medal.drop_duplicates(subset='athlete_id')
medal['medal'].value_counts()

Bronze    11326
Silver    10594
Gold       9578
Name: medal, dtype: int64

# Number of Athletes who won a metal in 2018 and 2022

In [24]:
event_results.columns

Index(['edition', 'edition_id', 'country_noc', 'sport', 'event', 'result_id',
       'athlete', 'athlete_id', 'pos', 'medal', 'isTeamSport'],
      dtype='object')

In [48]:

event_results['edition'].value_counts()

2020 Summer Olympics        14786
2000 Summer Olympics        14032
1996 Summer Olympics        13994
2008 Summer Olympics        13975
2016 Summer Olympics        13941
2004 Summer Olympics        13756
1992 Summer Olympics        13485
2012 Summer Olympics        13196
1988 Summer Olympics        12780
1972 Summer Olympics        10903
1984 Summer Olympics        10110
1952 Summer Olympics         9261
1968 Summer Olympics         9231
1976 Summer Olympics         8989
1960 Summer Olympics         8546
1964 Summer Olympics         8202
1980 Summer Olympics         7499
1936 Summer Olympics         7336
1948 Summer Olympics         7125
1924 Summer Olympics         6432
1928 Summer Olympics         5752
1912 Summer Olympics         5424
2022 Winter Olympics         5388
1956 Summer Olympics         5306
2018 Winter Olympics         5196
2014 Winter Olympics         4984
1920 Summer Olympics         4639
2010 Winter Olympics         4467
2006 Winter Olympics         4403
2002 Winter Olympics         4127
1908 Summer Olympics         4024
1992 Winter Olympics         3713
1998 Winter Olympics         3698
1932 Summer Olympics         3294
1994 Winter Olympics         3225
1988 Winter Olympics         3166
1900 Summer Olympics         3147
1904 Summer Olympics         3075
1984 Winter Olympics         2178
1968 Winter Olympics         1943
1964 Winter Olympics         1903
1976 Winter Olympics         1880
1980 Winter Olympics         1768
1972 Winter Olympics         1683
1956 Winter Olympics         1344
1936 Winter Olympics         1193
1948 Winter Olympics         1134
1960 Winter Olympics         1134
1952 Winter Olympics         1133
1932 Winter Olympics          790
1928 Winter Olympics          642
1924 Winter Olympics          633
1896 Summer Olympics          619
1956 Equestrian Olympics      300
1906  Intercalated Games       23
Name: edition, dtype: int64

In [61]:
event_1822 = event_results[event_results['edition_id'] > 59]
event_1822 = event_1822[event_results['edition_id'] != 61]
event_1822 = event_1822[event_results['medal'] != 'na']
event_1822

/var/folders/4b/_7084_nj2w5gwdmch9vv6l_w0000gn/T/ipykernel_83646/1084274909.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  event_1822 = event_1822[event_results['edition_id'] != 61]
/var/folders/4b/_7084_nj2w5gwdmch9vv6l_w0000gn/T/ipykernel_83646/1084274909.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  event_1822 = event_1822[event_results['medal'] != 'na']

,edition,edition_id,country_noc,sport,event,result_id,athlete,athlete_id,pos,medal,isTeamSport
6677,2018 Winter Olympics,60,BLR,Biathlon,"12.5 kilometres Mass Start, Women",9000227,Daria Domrachava,118516,2,Silver,False
6684,2018 Winter Olympics,60,BLR,Biathlon,"4 × 6 kilometres Relay, Women",9000229,Nadzeya Skardzina,118564,1,Gold,True
6685,2018 Winter Olympics,60,BLR,Biathlon,"4 × 6 kilometres Relay, Women",9000229,Iryna Kryuko,136768,1,Gold,True
6686,2018 Winter Olympics,60,BLR,Biathlon,"4 × 6 kilometres Relay, Women",9000229,Dzinara Alimbekava,136767,1,Gold,True
6687,2018 Winter Olympics,60,BLR,Biathlon,"4 × 6 kilometres Relay, Women",9000229,Daria Domrachava,118516,1,Gold,True
...,...,...,...,...,...,...,...,...,...,...,...
314877,2022 Winter Olympics,62,USA,Speed Skating,"500 metres, Women",19020424,Erin Jackson,138378,1,Gold,False
314880,2022 Winter Olympics,62,USA,Speed Skating,"1,000 metres, Women",19020425,Brittany Bowe,128778,3,Bronze,False
314887,2022 Winter Olympics,62,USA,Bobsleigh,"Monobob, Women",19019671,Kaillie Humphries,118672,1,Gold,False
314888,2022 Winter Olympics,62,USA,Bobsleigh,"Monobob, Women",19019671,Elana Meyers Taylor,118644,2,Silver,False
314889,2022 Winter Olympics,62,CAN,Bobsleigh,"Monobob, Women",19019671,Christine de Bruin,136825,3,Bronze,False

In [73]:
event_1822.shape

(1395, 11)

# Number of Male and Female Athletes in the 2022 Olympics in the Following:

In [74]:
# sailing

In [82]:
sailing_22 = athlete[athlete['edition_id'] >= 61]
sailing_22 = sailing_22.drop_duplicates(subset=['athlete_id'])
sailing_22 = sailing_22[sailing_22['sport'] == 'Sailing']
sailing_22['sex'].value_counts()

Male      175
Female    175
Name: sex, dtype: int64

In [78]:
#shooting

In [85]:
sh_22 = athlete[athlete['edition_id'] >= 61]
sh_22 = sh_22.drop_duplicates(subset=['athlete_id'])
sh_22 = sh_22[sh_22['sport'] == 'Shooting']
sh['sex'].value_counts()

Male      7579
Female    6814
Name: sex, dtype: int64